@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Josefin Sans", sans-serif;
  }
  body {
    background: linear-gradient(141deg, #fff 0%, #f7f7f7 51%, #f2f8f2 75%);
  }
}

@layer components {
  .header {
    @apply sticky top-0 z-50 shadow-md;
  }
  .nav {
    @apply flex justify-between items-center space-x-1
     text-white bg-white py-5;
  }
  .card {
    @apply relative bg-white flex flex-col justify-center gap-4 shadow border border-[#bbbbbb4f] w-full mb-5 
    cursor-pointer px-3 py-2 rounded-md;
  }
  .card__title {
    @apply text-lg;
  }
  .modal {
    @apply fixed top-0 left-0 z-[1055] bg-[#0a0606cc] h-full w-full flex justify-center items-center overflow-y-auto overflow-x-hidden outline-none;
  }
  .modal__card {
    @apply pointer-events-none relative w-1/2 transition-all duration-300 ease-in-out min-[576px]:max-w-[500px];
  }
  .modal__content {
    @apply pointer-events-auto relative 
    flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-modal 
    outline-none;
  }
  .modal__header {
    @apply flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2
     border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50;
  }
  .modal__close-icon {
    @apply box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 
    focus:shadow-none focus:outline-none;
  }
  .modal__footer {
    @apply flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2
     border-neutral-100 border-opacity-100 p-4;
  }
  .modal__btn-close {
    @apply inline-block rounded  px-6 pt-2.5 pb-2 text-xs font-medium uppercase
     leading-normal transition duration-150 ease-in-out focus:outline-none;
  }
  .modal__btn-checkout {
    @apply ml-1 inline-block rounded bg-primary px-6 pt-2.5 pb-2 text-xs font-medium uppercase
     leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] 
     transition duration-150 ease-in-out;
  }
  .card__media {
    @apply relative overflow-hidden;
  }
  .card__img-overlay {
    @apply absolute top-0 left-0 flex flex-col justify-center items-center gap-1 w-full h-full z-[2]
    opacity-0 scale-90 duration-[600] rounded-md;
  }
  .card__img {
    @apply w-full h-[200px] object-contain duration-500;
  }
  .card__link {
    @apply w-12 h-12 shadow-md rounded-card bg-white text-primary grid place-content-center text-center;
  }
}

.card__img-overlay {
  background: linear-gradient(
    180deg,
    rgba(228, 84, 84, 0.582),
    rgba(239, 136, 81, 0.63) 100%
  );
}
.card:hover .card__img-overlay {
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
  opacity: 1;
}
.card:hover .card__img {
  transform: rotate(2deg) scale(1.08);
  -webkit-transform: rotate(2deg) scale(1.02);
  -moz-transform: rotate(1deg) scale(1.02);
  -ms-transform: rotate(1deg) scale(1.02);
  -o-transform: rotate(1deg) scale(1.02);
}
